<h1>Doc:</h1>

<h3>options:</h3>
<table>
    <colgroup>
        <col style="width: 150px; text-align: center;">
        <col style="width: 150px; text-align: center;">
        <col style="width: 150px; text-align: center;">
        <col style="width: 300px; text-align: center;">
    </colgroup>
    <tr>
        <th>名字</th>
        <th>类型</th>
        <th>默认值</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>xml</td>
        <td>string</td>
        <td>''</td>
        <td>bpmn xml 字符串</td>
    </tr>
    <tr>
        <td>modeler</td>
        <td>boolean</td>
        <td>false</td>
        <td>是否可编辑建模器</td>
    </tr>
</table>

<h3>methods:</h3>
<table>
    <colgroup>
        <col style="width: 150px;">
        <col style="width: 150px;">
        <col style="width: 300px;">
    </colgroup>
    <tr>
        <th>名字</th>
        <th>返回值</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>newDiagram</td>
        <td>void</td>
        <td>新建图画</td>
    </tr>
    <tr>
        <td>exportXML</td>
        <td>string</td>
        <td>导出 XML 字符串</td>
    </tr>
    <tr>
        <td>exportJSON</td>
        <td>JSON Object</td>
        <td>返回 JSON 对象</td>
    </tr>
</table>