<h1>Doc:</h1>

<h3>options:</h3>
<table>
    <colgroup>
        <col style="width: 160px;">
        <col style="width: 160px;">
        <col style="width: 160px;">
        <col style="width: 300px;">
    </colgroup>
    <tr>
        <th>名字</th>
        <th>类型</th>
        <th>默认值</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>modeler</td>
        <td>boolean</td>
        <td>false</td>
        <td>是否启用可编辑建模器</td>
    </tr>
    <tr>
        <td>navigated</td>
        <td>boolean</td>
        <td>false</td>
        <td>是否启用可导航的查看器</td>
    </tr>
    <tr>
        <td>tokenSimulation</td>
        <td>boolean</td>
        <td>false</td>
        <td>是否启用仿真器</td>
    </tr>
</table>

<h3>methods:</h3>
<table>
    <colgroup>
        <col style="width: 160px;">
        <col style="width: 160px;">
        <col style="width: 160px;">
        <col style="width: 300px;">
    </colgroup>
    <tr>
        <th>名字</th>
        <th>参数</th>
        <th>返回值</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>newDiagram</td>
        <td></td>
        <td>void</td>
        <td>新建图形</td>
    </tr>
    <tr>
        <td>loadXML</td>
        <td>xml: string</td>
        <td>void</td>
        <td>加载 bpmn XML 图形</td>
    </tr>
    <tr>
        <td>exportXML</td>
        <td></td>
        <td>string</td>
        <td>导出 XML 字符串</td>
    </tr>
    <tr>
        <td>exportJSON</td>
        <td></td>
        <td>json object</td>
        <td>返回 JSON 对象</td>
    </tr>
</table>

<h3>events:</h3>
<table>
    <colgroup>
        <col style="width: 160px;">
        <col style="width: 160px;">
        <col style="width: 300px;">
    </colgroup>
    <tr>
        <th>名字</th>
        <th>参数</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>onClick</td>
        <td>businessObject: any</td>
        <td>点击模型时触发，接收 业务对象</td>
    </tr>
</table>