<div class="box">
    
    <button (click)="toggleNavigated();" [disabled]="modeler">
        Toggle Navigated {{ navigated }}
    </button>

    <button (click)="toggleModeler();">
        Toggle Modeler {{ modeler }}
    </button>
    
    <button (click)="toggleTokenSimulation();">
        Toggle Token Simulation {{ tokenSimulation }}
    </button>

    <br>
    
    <button (click)="loadTestXML();">
        load Test XML BPMN diagram
    </button>

    <button (click)="newDiagram();">
        new BPMN diagram
    </button>
    
    <button (click)="exportXML();">
        Export XML
    </button>
    
    <button (click)="exportJSON();">
        Export JSON
    </button>

    &nbsp;&nbsp;

    id: {{ businessObject?.id }}
    name: {{ businessObject?.name }}
    options: <input *ngIf="businessObject" type="text" name="options"
        [(ngModel)]="businessObject.options">
    
    <div class="container">
        <bpmn #bpmnModeler
            [modeler]="modeler"
            [navigated]="navigated"
            [tokenSimulation]="tokenSimulation"
            (onClick)="openPanel($event);"
            (onSettings)="settingsPanel($event)"></bpmn>
    </div>

</div>