<div class="box">
    
    <button (click)="loadTestXML();">
        load Test XML BPMN diagram
    </button>

    <button (click)="newDiagram();">
        new BPMN diagram
    </button>
    
    <button (click)="exportXML();">
        Export XML
    </button>
    
    <button (click)="exportJSON();">
        Export JSON
    </button>

    id: {{ this.businessObject?.id }}
    name: {{ this.businessObject?.name }}
    
    <div class="container">
        <bpmn #bpmnViewer
            [xml]="xml"
            (onClick)="openPanel($event);"></bpmn>
    </div>

</div>