:host {

    > div {

        button {
            margin: 10px 5px 0 0;
        }
    }

    .container {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        outline: 2px solid orange;
    }
}