<div class="box">
    {{ title }}
    
    <button (click)="newDiagram();">
        new BPMN diagram
    </button>
    
    <button (click)="loadXML();">
        load XML BPMN diagram
    </button>
    
    <button (click)="exportXML();">
        Export XML
    </button>
    
    <button (click)="exportJSON();">
        Export JSON
    </button>
    
    <a #downloadDiagram href title="download BPMN diagram">
        download BPMN diagram
    </a>

    <a #downloadSVG href title="download as SVG image">
        download SVG image
    </a>

    <div id="canvas"></div>
</div>