<div id="bpmn-canvas"></div>

<div class="bpmn-keyboard-shortcuts"
    [hidden]="hideKeyboardShortcuts"
    (click)="toggleHideKeyboardShortcuts();">
    <div>
        <h1>快捷键</h1>
        <table>
            <tbody>
                <tr>
                    <td>撤销</td>
                    <td>Ctrl + Z</td>
                </tr>
                <tr>
                    <td>前进</td>
                    <td>Ctrl + ⇧ + Z</td>
                </tr>
                <tr>
                    <td>全选</td>
                    <td>Ctrl + A</td>
                </tr>
                <tr>
                    <td>滚动 (垂直)</td>
                    <td>Ctrl + Scrolling</td>
                </tr>
                <tr>
                    <td>滚动 (水平)</td>
                    <td>Ctrl + ⇧ + Scrolling</td>
                </tr>
                <tr>
                    <td>编辑</td>
                    <td>E</td>
                </tr>
                <tr>
                    <td>拖动</td>
                    <td>H</td>
                </tr>
                <tr>
                    <td>多选</td>
                    <td>L</td>
                </tr>
                <!-- <tr>
                    <td>Space Tool</td>
                    <td>S</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>

<div class="bpmn-downloads" [hidden]="!allowDownload">
    <a #downloadDiagram href="javascript:" title="download BPMN diagram">
        <span class="app-icon-download"></span>
    </a>

    <a #downloadSVG href="javascript:" title="download as SVG image">
        <span class="app-icon-picture"></span>
    </a>
</div>

<div class="bpmn-auxiliary-tools">
    <button (click)="resetZoom();">
        <span class="app-icon-size-reset"></span>
    </button>
    <button (click)="toggleHideKeyboardShortcuts();" [hidden]="!modeler">
        <span class="app-icon-keyboard"></span>
    </button>
</div>