:host {

    ::ng-deep {
        
        .djs-palette {
            
            .djs-palette-entries {
        
                .entry {
        
                    &.bpmn-icon-intermediate-event-none,
                    &.bpmn-icon-data-object,
                    &.bpmn-icon-data-store,
                    &.bpmn-icon-participant {
                        display: none !important;
                    }
                }
            }
        }
        
        .djs-popup.bpmn-replace {
        
            .entry {
        
                // start event and end event
                &.bpmn-icon-intermediate-event-none,
                &.bpmn-icon-start-event-message,
                &.bpmn-icon-start-event-timer,
                &.bpmn-icon-start-event-condition,
                &.bpmn-icon-start-event-signal,
                &.bpmn-icon-end-event-message,
                &.bpmn-icon-end-event-escalation,
                &.bpmn-icon-end-event-error,
                &.bpmn-icon-end-event-compensation,
                &.bpmn-icon-end-event-signal,
                &.bpmn-icon-end-event-terminate {
                    display: none !important;
                }
        
                // gateway
                &.bpmn-icon-gateway-or,
                &.bpmn-icon-gateway-complex,
                &.bpmn-icon-gateway-eventbased {
                    display: none !important;
                }
        
                // task
                &.bpmn-icon-send,
                &.bpmn-icon-receive,
                &.bpmn-icon-user,
                &.bpmn-icon-manual,
                &.bpmn-icon-business-rule,
                &.bpmn-icon-service,
                &.bpmn-icon-script,
                &.bpmn-icon-call-activity,
                &.bpmn-icon-transaction,
                // &.bpmn-icon-subprocess-collapsed,
                // &.bpmn-icon-subprocess-expanded,
                &.bpmn-icon-event-subprocess-expanded {
                    display: none !important;
                }
            }
        }
        
        .djs-context-pad {
        
            .entry {
        
                &.bpmn-icon-intermediate-event-none {
                    display: none !important;
                }
            }
        }
    }

    #bpmn-canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #bpmn-downloads {
        position: absolute;
        left: 10px;
        bottom: 10px;
        z-index: 100;

        a {
            margin-right: 5px;
            padding: 5px 10px;
            background-color: #eee;
            font-size: 12px;
            color: #ddd;

            &.active {
                color: #00a4ff;
            }
        }
    }
}