.djs-palette {

    .djs-palette-entries {

        .entry {

            &.bpmn-icon-intermediate-event-none,
            &.bpmn-icon-data-object,
            &.bpmn-icon-data-store,
            &.bpmn-icon-participant {
                display: none !important;
            }
        }
    }
}

.djs-popup.bpmn-replace {

    .entry {

        // start event and end event
        &.bpmn-icon-intermediate-event-none,
        &.bpmn-icon-start-event-message,
        &.bpmn-icon-start-event-timer,
        &.bpmn-icon-start-event-condition,
        &.bpmn-icon-start-event-signal,
        &.bpmn-icon-end-event-message,
        &.bpmn-icon-end-event-escalation,
        &.bpmn-icon-end-event-error,
        &.bpmn-icon-end-event-compensation,
        &.bpmn-icon-end-event-signal,
        &.bpmn-icon-end-event-terminate {
            display: none !important;
        }

        // gateway
        &.bpmn-icon-gateway-or,
        &.bpmn-icon-gateway-complex,
        &.bpmn-icon-gateway-eventbased {
            display: none !important;
        }

        // task
        &.bpmn-icon-send,
        &.bpmn-icon-receive,
        &.bpmn-icon-business-rule,
        &.bpmn-icon-call-activity,
        &.bpmn-icon-transaction,
        &.bpmn-icon-event-subprocess-expanded {
            display: none !important;
        }
    }
}

.djs-context-pad {

    .entry {

        &.bpmn-icon-intermediate-event-none {
            display: none !important;
        }
    }
}


#canvas {
    width: 100%;
    height: 750px;
    outline: 2px solid orange;
}